extends menu

block market_view
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          strong CryptoBridge - #{marketdata.coin}/#{marketdata.exchange} - #{settings.locale.mkt_hours}
          a(href='#')
            span.fa.fa-line-chart.pull-right.view-chart-disabled.iquidus.market-toggle(data-toggle='tooltip', data-placement='bottom', title='#{settings.locale.mkt_no_chart}')
        table.table.table-bordered.summary-table
          thead
            tr
              th #{settings.locale.mkt_top_bid}
              th #{settings.locale.mkt_top_ask}
              th #{settings.locale.mkt_last}
          tbody
            tr
              td #{marketdata.data.summary.bid}
              td #{marketdata.data.summary.ask}
              td #{marketdata.data.summary.last}
      .footer-padding
